.authForms{
    width:500px;
    margin: 0 auto;
}
.authForms form{
    padding: 20px;
}
.offer-label a{
    font-size: 1.4vw;
}
.offer-label{
    font-size: 1vw;
}
.glyphicon-remove{
    cursor: pointer;
}
.glyphicon-remove.remove {
    position: absolute;
    top: 10px;
    right: 10px;
}
.glyphicon-pushpin{
    cursor: pointer;
}
.log-item{
    position: relative;
}
.log-item .glyphicon-remove{
    top: 2px;
    right: 0px;
}

