<div>
    <form style="width: 400px;margin: 20px 0">
        <div class="form-group">
            <label for="charactName">Название</label>
            <input type="text" class="form-control" placeholder="Название" name="name" ng-model="charact.name" id="charactName"/>
        </div>
        <div class="form-group">
            <label for="charactType">Тип</label>
            <select class="form-control" name="type" id="charactType" ng-model="charact.type" ng-options="key as value for (key,value) in types"></select>
        </div>
        <div class="form-group">
            <div ng-if="charact.type=='select'">
                <label>Значения списка</label>
                <ol class="list-unstyled">
                    <li ng-repeat="option in charact.additional track by $index">
                        <input type="text" ng-model="charact.additional[$index]" class="form-control"/>
                    </li>
                </ol>
                <button class="btn btn-success" ng-click="addAdditional()">Добавить значение</button>
            </div>
        </div>
        <input type="button" ng-click="save()" class="btn btn-default" value="Сохранить"/>
    </form>
</div>