<div class="container-fluid">
    <nav class="navbar navbar-default" ng-controller="TopNavCtrl">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" ui-sref="main.home"><img src='../img/gift-icon.svg' class="img-icon svg"/>Gifts</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a ui-sref="main.home">Главная</a></li>
                    <li class="dropdown" ng-if="isAuthenticated('admin')">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Каталоги<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="" ui-sref="main.catalog.add">Добавить</a></li>
                            <li><a href="" ui-sref="main.catalog.edit">Редактировать</a></li>
                        </ul>
                    </li>
                    <li class="dropdown" ng-if="isAuthenticated('admin')">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Характеристики<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="" ui-sref="main.charact.add">Добавить</a></li>
                            <li><a href="" ui-sref="main.charact.edit">Редактировать</a></li>
                        </ul>
                    </li>
                    <li ng-if="isAuthenticated('admin')">
                        <a href="#" role="button" ui-sref="main.proposals">Заявки <span class="badge">4</span></a>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li ng-show="!isAuthorized()"><a href="#">Вы не авторизированы</a></li>
                    <li class="dropdown" ng-show="isAuthorized()">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{userData.login}} | {{getRolePresentation(userData.role)}}<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="" ui-sref="main.profile">Профиль</a></li>
                            <li><a href="" ng-click="logout()">Выйти</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <div ui-view class="container"></div>
</div>