<div>
    <h2><input type="text" ng-model="offer.name"/>
        <span ng-switch="offer.status">
            <span class="label label-success" ng-switch-when="1">Подтверждена</span>
            <span class="label label-warning" ng-switch-when="0">Рассматривается</span>
            <span class="label label-danger" ng-switch-when="-1">Отменена</span>
        </span>
    </h2>
    <div class="col-sm-3">
        <img ng-src="{{offer.img}}" alt="product image" style="width: 100%;"/>
    </div>
    <div class="col-sm-9">
        <dl class="dl-horizontal">
            <dt>Каталог</dt>
            <dd><select ng-options="cat.id as cat.name for cat in catalogs" class="form-control" ng-model="offer.catalog"></select></dd>
        </dl>
        <dl class="dl-horizontal">
            <dt>Бренд</dt>
            <dd><input type="text" ng-model="offer.brand" class="form-control"/> </dd>
        </dl>
        <dl class="dl-horizontal">
            <dt>Цена</dt>
            <dd><input type="text" ng-model="offer.price" class="form-control"/> </dd>
        </dl>
        <div ng-repeat="char in characts track by $index">
            <dl-charact input-type="char" value="values[char.id]" />
        </div>
        <dl class="dl-horizontal">
            <dt><span ng-click="log()" title="Добавить в логгер" class="glyphicon glyphicon-pushpin"></span>Дополнительная<br/>информация </dt>
            <dd><textarea class="form-control" ng-model="offer.additional"></textarea></dd>
        </dl>
    </div>
    <p ng-show="msg" class="text-center">
        {{msg}}
    </p>
    <p class="text-center">
        <button class="btn btn-default" ng-click="save()">Сохранить</button>
        <button class="btn btn-default" ng-click="confirm()" ng-disabled="offer.status == 1">Подтвердить</button>
        <button class="btn btn-default" ng-click="cancel()" ng-disabled="offer.status == -1">Отменить</button>
    </p>
</div>